:root { 
  --eerie-black: #1e1e1e;
  --hawkes-blue: #d4effc;
  --rhino: #2a3a64;
  --tango: #f58220;
  --white: #ffffff;
 
  --font-size-l: 14px;
  --font-size-m: 12px;
  --font-size-s: 10px;
  --font-size-xl: 16px;
  --font-size-xxl: 18px;
  --font-size-xxxl: 22px;
  --font-size-xxxxl: 38px;
 
  --font-family-stem_☞: "Stem ☞", Helvetica;
  --font-family-stem☞-light: "Stem☞-Light", Helvetica;
  --font-family-stem☞-medium: "Stem☞-Medium", Helvetica;
}
.stem-medium-rhino-22px {
  color: var(--rhino);
  font-family: var(--font-family-stem☞-medium);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 500;
}

.stem-medium-rhino-12px {
  color: var(--rhino);
  font-family: var(--font-family-stem☞-medium);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.stem-light-white-14px {
  color: var(--white);
  font-family: var(--font-family-stem☞-light);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 300;
}

.stem-light-rhino-12px {
  color: var(--rhino);
  font-family: var(--font-family-stem☞-light);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

.stem-light-white-12px {
  color: var(--white);
  font-family: var(--font-family-stem☞-light);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

.stem-medium-eerie-black-16px {
  color: var(--eerie-black);
  font-family: var(--font-family-stem☞-medium);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.stem-medium-rhino-38px {
  color: var(--rhino);
  font-family: var(--font-family-stem☞-medium);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 500;
}

.stem-medium-rhino-18px {
  color: var(--rhino);
  font-family: var(--font-family-stem☞-medium);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
}

.stem-medium-white-18px {
  color: var(--white);
  font-family: var(--font-family-stem☞-medium);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
}

.stem-light-white-18px {
  color: var(--white);
  font-family: var(--font-family-stem☞-light);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 300;
}

.stem-light-rhino-16px {
  color: var(--rhino);
  font-family: var(--font-family-stem☞-light);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 300;
}

.stem-medium-rhino-10px {
  color: var(--rhino);
  font-family: var(--font-family-stem☞-medium);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
}

.stem-medium-rhino-26px {
  color: var(--rhino);
  font-family: var(--font-family-stem☞-medium);
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
}

.stem-medium-rhino-32px {
  color: var(--rhino);
  font-family: var(--font-family-stem☞-medium);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
}

.stem-medium-rhino-15px {
  color: var(--rhino);
  font-family: var(--font-family-stem☞-medium);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}

.stem-medium-white-14px {
  color: var(--white);
  font-family: var(--font-family-stem☞-medium);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}
