/* screen - web-1366-2 */

.web-1366-2 {
  background-color: var(--white);
  height: 10033px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1550px;
}

.web-1366-2 .web-header-dFKCuM {
  background-color: transparent;
  height: 176px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1550px;
}

.web-1366-2 .courses-GxP4fC {
  background-color: transparent;
  bottom: calc(28.43% - 7px);
  height: 23px;
  left: calc(40.75% - 26px);
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 63px;
}

.web-1366-2 .rectangle-4-GxP4fC {
  background-color: var(--white);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1366-2 .certificate-programs-GxP4fC {
  background-color: transparent;
  bottom: calc(28.43% - 7px);
  height: 23px;
  left: calc(49.71% - 77px);
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 154px;
}

.web-1366-2 .for-teams-GxP4fC {
  background-color: transparent;
  bottom: calc(28.43% - 7px);
  height: 23px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  right: calc(39.17% - 30px);
  text-align: left;
  white-space: nowrap;
  width: 77px;
}

.web-1366-2 .about-us-GxP4fC {
  background-color: transparent;
  bottom: calc(28.43% - 7px);
  height: 23px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  right: calc(30.99% - 22px);
  text-align: left;
  white-space: nowrap;
  width: 72px;
}

.web-1366-2 .resources-GxP4fC {
  background-color: transparent;
  bottom: calc(28.43% - 7px);
  height: 23px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  right: calc(22.71% - 18px);
  text-align: left;
  white-space: nowrap;
  width: 79px;
}

.web-1366-2 .account-GxP4fC {
  background-color: transparent;
  bottom: calc(28.43% - 7px);
  height: 23px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  right: calc(14.94% - 10px);
  text-align: left;
  white-space: nowrap;
  width: 64px;
}

.web-1366-2 .x1814075_find_magnifi-GxP4fC {
  background-color: transparent;
  bottom: calc(31.5% - 7px);
  height: 24px;
  position: absolute;
  right: 150px;
  width: 24px;
}

.web-1366-2 .icon-search-f67BtR {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.web-1366-2 .fill-1-5e8Bvm {
  background-color: transparent;
  height: 19px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 19px;
}

.web-1366-2 .fill-2-5e8Bvm {
  background-color: transparent;
  bottom: 0px;
  height: 8px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  width: 8px;
}

.web-1366-2 .ccaa_-logo-GxP4fC {
  background-color: transparent;
  cursor: pointer;
  height: 104px;
  left: 150px;
  object-fit: cover;
  position: absolute;
  top: calc(50% - 52px);
  width: 250px;
}

.web-1366-2 .rectangle-11-dFKCuM {
  background-color: var(--hawkes-blue);
  height: 9124px;
  left: 0px;
  opacity: 0.2;
  position: absolute;
  top: 848px;
  width: 1550px;
}

.web-1366-2 .mask-group-4-dFKCuM {
  background-color: transparent;
  height: 754px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 176px;
  width: 1550px;
}

.web-1366-2 .rectangle-28-dFKCuM {
  background-color: var(--rhino);
  height: 754px;
  left: 0px;
  opacity: 0.5;
  position: absolute;
  top: 176px;
  width: 1550px;
}

.web-1366-2 .home-courses-mba-sus-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 215px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 239px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .mba-sustainability-e-dFKCuM {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-stem☞-medium);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 215px;
  letter-spacing: 0px;
  line-height: 38px;
  position: absolute;
  text-align: left;
  top: 288px;
  width: 640px;
}

.web-1366-2 .sustainable-lifestyl-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 216px;
  letter-spacing: 0px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 416px;
  width: 521px;
}

.web-1366-2 .preview-course-dFKCuM {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-stem☞-medium);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 284px;
  letter-spacing: 0.88px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 523px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .x3669296_circle_filled_play_ic_icon-dFKCuM {
  background-color: transparent;
  height: 44px;
  left: 216px;
  position: absolute;
  top: 511px;
  width: 44px;
}

.web-1366-2 .path-324-N08n7b {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1366-2 .icon-play-N08n7b {
  background-color: transparent;
  height: calc(100% - 7px);
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: calc(100% - 7px);
}

.web-1366-2 .rectangle-98-dFKCuM {
  background-color: var(--white);
  box-shadow: 0px 8px 23px #00000033;
  height: 1735px;
  left: 216px;
  position: absolute;
  top: 650px;
  width: 1118px;
}

.web-1366-2 .construction-industr-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 276px;
  letter-spacing: 0px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 704px;
  width: 461px;
}

.web-1366-2 .rectangle-97-dFKCuM {
  background-color: var(--white);
  box-shadow: 0px 7px 19px #00000029;
  height: 599px;
  left: 815px;
  position: absolute;
  top: 717px;
  width: 466px;
}

.web-1366-2 .line-86-dFKCuM {
  background-color: transparent;
  height: 1px;
  left: 277px;
  object-fit: cover;
  position: absolute;
  top: 993px;
  width: 430px;
}

.web-1366-2 .line-85-dFKCuM {
  background-color: transparent;
  height: 1px;
  left: 276px;
  object-fit: cover;
  position: absolute;
  top: 1350px;
  width: 431px;
}

.web-1366-2 .learning-outcomes-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 276px;
  letter-spacing: 0px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 1016px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .format-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 853px;
  letter-spacing: 0.36px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 754px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .duration-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 853px;
  letter-spacing: 0.36px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 945px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .time-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 853px;
  letter-spacing: 0.36px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 1008px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .price-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 853px;
  letter-spacing: 0.36px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 1071px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .start-date-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 853px;
  letter-spacing: 0.36px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 817px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .quantity-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 853px;
  letter-spacing: 0.36px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 882px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .participant-will-hav-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 311px;
  letter-spacing: 0px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 1053px;
  width: 398px;
}

.web-1366-2 .all-will-be-able-to-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 311px;
  letter-spacing: 0px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 1150px;
  width: 398px;
}

.web-1366-2 .learner-will-become-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 311px;
  letter-spacing: 0px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 1247px;
  width: 398px;
}

.web-1366-2 .ellipse-36-dFKCuM {
  background-color: var(--rhino);
  border-radius: 3px;
  height: 6px;
  left: 293px;
  position: absolute;
  top: 1066px;
  width: 6px;
}

.web-1366-2 .ellipse-35-dFKCuM {
  background-color: var(--rhino);
  border-radius: 3px;
  height: 6px;
  left: 293px;
  position: absolute;
  top: 1162px;
  width: 6px;
}

.web-1366-2 .ellipse-34-dFKCuM {
  background-color: var(--rhino);
  border-radius: 3px;
  height: 6px;
  left: 293px;
  position: absolute;
  top: 1259px;
  width: 6px;
}

.web-1366-2 .online-mba-course-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 1102px;
  letter-spacing: 0px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 756px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .x2-years-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 1182px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 948px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .x4-hours-week-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 1138px;
  letter-spacing: 0px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 1010px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .x599-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 1202px;
  letter-spacing: 0px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 1074px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .line-82-dFKCuM {
  background-color: transparent;
  height: 1px;
  left: 853px;
  object-fit: cover;
  position: absolute;
  top: 794px;
  width: 390px;
}

.web-1366-2 .line-81-dFKCuM {
  background-color: transparent;
  height: 1px;
  left: 853px;
  object-fit: cover;
  position: absolute;
  top: 985px;
  width: 390px;
}

.web-1366-2 .line-80-dFKCuM {
  background-color: transparent;
  height: 1px;
  left: 853px;
  object-fit: cover;
  position: absolute;
  top: 1048px;
  width: 390px;
}

.web-1366-2 .line-79-dFKCuM {
  background-color: transparent;
  height: 1px;
  left: 853px;
  object-fit: cover;
  position: absolute;
  top: 1111px;
  width: 390px;
}

.web-1366-2 .line-78-dFKCuM {
  background-color: transparent;
  height: 1px;
  left: 853px;
  object-fit: cover;
  position: absolute;
  top: 857px;
  width: 390px;
}

.web-1366-2 .line-77-dFKCuM {
  background-color: transparent;
  height: 1px;
  left: 853px;
  object-fit: cover;
  position: absolute;
  top: 922px;
  width: 390px;
}

.web-1366-2 .group-60-dFKCuM {
  background-color: transparent;
  height: 32px;
  left: 1137px;
  position: absolute;
  top: 811px;
  width: 106px;
}

.web-1366-2 .rectangle-33-iHejsx {
  background-color: var(--hawkes-blue);
  border-radius: 3px;
  height: 100%;
  left: 0px;
  opacity: 0.6;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1366-2 .april-20-iHejsx {
  background-color: transparent;
  bottom: calc(15% - 3px);
  height: 22px;
  left: 13px;
  letter-spacing: 0px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 57px;
}

.web-1366-2 .icon-material-keyboard-arrow-left-iHejsx {
  background-color: transparent;
  height: 7px;
  object-fit: cover;
  position: absolute;
  right: 12px;
  top: calc(49.19% - 3px);
  width: 11px;
}

.web-1366-2 .group-59-dFKCuM {
  background-color: transparent;
  height: 33px;
  left: 1137px;
  position: absolute;
  top: 875px;
  width: 106px;
}

.web-1366-2 .rectangle-33-s28uyx {
  background-color: var(--hawkes-blue);
  border-radius: 3px;
  height: 100%;
  left: 0px;
  opacity: 0.6;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1366-2 .x1-s28uyx {
  background-color: transparent;
  bottom: calc(5% - 1px);
  height: 23px;
  left: 13px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 8px;
}

.web-1366-2 .icon-material-keyboard-arrow-left-s28uyx {
  background-color: transparent;
  bottom: calc(49.51% - 3px);
  height: 7px;
  object-fit: cover;
  position: absolute;
  right: 12px;
  width: 11px;
}

.web-1366-2 .rectangle-21-dFKCuM {
  background-color: var(--tango);
  border-radius: 3px;
  height: 50px;
  left: 853px;
  position: absolute;
  top: 1181px;
  width: 390px;
}

.web-1366-2 .enroll-dFKCuM {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-stem☞-medium);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 1014px;
  letter-spacing: 0.96px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1198px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .group-58-dFKCuM {
  background-color: transparent;
  height: 20px;
  left: 948px;
  position: absolute;
  top: 1262px;
  width: 200px;
}

.web-1366-2 .download-syllabus-76d19u {
  background-color: transparent;
  height: calc(100% + 2px);
  left: 0px;
  letter-spacing: 0px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: calc(100% - 27px);
}

.web-1366-2 .icon-material-keyboard-arrow-left-76d19u {
  background-color: transparent;
  height: calc(100% - 6px);
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 3px;
  width: 9px;
}

.web-1366-2 .overview-of-the-course-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 276px;
  letter-spacing: 0px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 1373px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .it-caters-to-any-gov-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 311px;
  letter-spacing: 0px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 1409px;
  width: 398px;
}

.web-1366-2 .ellipse-33-dFKCuM {
  background-color: var(--rhino);
  border-radius: 3px;
  height: 6px;
  left: 293px;
  position: absolute;
  top: 1424px;
  width: 6px;
}

.web-1366-2 .the-eco-friendly-eld-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 311px;
  letter-spacing: 0px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 1601px;
  width: 398px;
}

.web-1366-2 .ellipse-28-dFKCuM {
  background-color: var(--rhino);
  border-radius: 3px;
  height: 6px;
  left: 293px;
  position: absolute;
  top: 1614px;
  width: 6px;
}

.web-1366-2 .this-course-will-mak-dFKCuM {
  background-color: transparent;
  height: 62px;
  left: 311px;
  letter-spacing: 0px;
  line-height: 28px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: 1726px;
  width: 398px;
}

.web-1366-2 .ellipse-27-dFKCuM {
  background-color: var(--rhino);
  border-radius: 3px;
  height: 6px;
  left: 293px;
  position: absolute;
  top: 1739px;
  width: 6px;
}

.web-1366-2 .line-87-dFKCuM {
  background-color: transparent;
  height: 1px;
  left: 276px;
  object-fit: cover;
  position: absolute;
  top: 1812px;
  width: 430px;
}

.web-1366-2 .methodology-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 276px;
  letter-spacing: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 1836px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .two-years-masters-co-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 276px;
  letter-spacing: 0px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 1875px;
  width: 432px;
}

.web-1366-2 .environmental-sustai-dFKCuM {
  background-color: transparent;
  height: 50px;
  left: 311px;
  letter-spacing: 0px;
  line-height: 26px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: 1945px;
  width: 398px;
}

.web-1366-2 .natural-resources-an-dFKCuM {
  background-color: transparent;
  height: 27px;
  left: 311px;
  letter-spacing: 0px;
  line-height: 30px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: 2011px;
  white-space: nowrap;
  width: 345px;
}

.web-1366-2 .environmental-stewar-dFKCuM {
  background-color: transparent;
  height: 27px;
  left: 311px;
  letter-spacing: 0px;
  line-height: 30px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: 2056px;
  white-space: nowrap;
  width: 345px;
}

.web-1366-2 .practical-field-visi-dFKCuM {
  background-color: transparent;
  height: 27px;
  left: 311px;
  letter-spacing: 0px;
  line-height: 30px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: 2101px;
  white-space: nowrap;
  width: 420px;
}

.web-1366-2 .ellipse-32-dFKCuM {
  background-color: var(--rhino);
  border-radius: 3px;
  height: 6px;
  left: 293px;
  position: absolute;
  top: 1957px;
  width: 6px;
}

.web-1366-2 .ellipse-31-dFKCuM {
  background-color: var(--rhino);
  border-radius: 3px;
  height: 6px;
  left: 293px;
  position: absolute;
  top: 2026px;
  width: 6px;
}

.web-1366-2 .ellipse-30-dFKCuM {
  background-color: var(--rhino);
  border-radius: 3px;
  height: 6px;
  left: 293px;
  position: absolute;
  top: 2071px;
  width: 6px;
}

.web-1366-2 .ellipse-29-dFKCuM {
  background-color: var(--rhino);
  border-radius: 3px;
  height: 6px;
  left: 293px;
  position: absolute;
  top: 2116px;
  width: 6px;
}

.web-1366-2 .line-83-dFKCuM {
  background-color: transparent;
  height: 1px;
  left: 277px;
  object-fit: cover;
  position: absolute;
  top: 2152px;
  width: 430px;
}

.web-1366-2 .eligibility-and-requirements-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 277px;
  letter-spacing: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 2176px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .builders-developers-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 277px;
  letter-spacing: 0px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 2216px;
  width: 432px;
}

.web-1366-2 .go-deeper-with-certificate-programs-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 471px;
  letter-spacing: 0px;
  line-height: 36px;
  position: absolute;
  text-align: center;
  top: 2506px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .cultivating-creative-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 489px;
  letter-spacing: 0px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 2569px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .ccaa_-certificate-06-06-08-dFKCuM {
  background-color: transparent;
  height: 310px;
  left: 297px;
  object-fit: cover;
  position: absolute;
  top: 2660px;
  width: 438px;
}

.web-1366-2 .ccaa_-certificate-06-06-07-dFKCuM {
  background-color: transparent;
  height: 310px;
  left: 815px;
  object-fit: cover;
  position: absolute;
  top: 2660px;
  width: 438px;
}

.web-1366-2 .group-61-dFKCuM {
  background-color: transparent;
  height: 57px;
  left: 546px;
  position: absolute;
  top: 3030px;
  width: 459px;
}

.web-1366-2 .rectangle-15-uFhmcx {
  background-color: var(--tango);
  border-radius: 3px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1366-2 .view-certificate-programs-uFhmcx {
  background-color: transparent;
  bottom: calc(45.16% - 12px);
  height: 26px;
  left: 87px;
  letter-spacing: 0px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  width: calc(100% - 171px);
}

.web-1366-2 .what-youll-learn-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 631px;
  letter-spacing: 0px;
  line-height: 36px;
  position: absolute;
  text-align: center;
  top: 3208px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .rectangle-100-dFKCuM {
  background-color: var(--white);
  box-shadow: 0px 7px 23px #00000029;
  height: 876px;
  left: 216px;
  position: absolute;
  top: 3308px;
  width: 1118px;
}

.web-1366-2 .x4213467_location_map-dFKCuM {
  background-color: transparent;
  height: 47px;
  left: 278px;
  position: absolute;
  top: 3365px;
  width: 35px;
}

.web-1366-2 .path-326-jF5PxZ {
  background-color: transparent;
  height: calc(100% - 4px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}

.web-1366-2 .path-327-jF5PxZ {
  background-color: transparent;
  height: 15px;
  object-fit: cover;
  position: absolute;
  right: calc(49.99% - 8px);
  top: calc(32.04% - 5px);
  width: 15px;
}

.web-1366-2 .rectangle-36-jF5PxZ {
  background-color: var(--black);
  bottom: 0px;
  height: 3px;
  left: 4px;
  position: absolute;
  width: calc(100% - 8px);
}

.web-1366-2 .week-1-environmental-sustainability-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 349px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 3388px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .watch-a-sneak-peek-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 279px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 3570px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .x2-video-lessons-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 279px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 3681px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .x1-assignment-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 279px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 3850px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .x2-discussions-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 278px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 4011px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .lorem-ipsum-has-been-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 278px;
  letter-spacing: 0px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 3445px;
  width: 769px;
}

.web-1366-2 .lorem-ipsum-has-been-Obj5Wc {
  background-color: transparent;
  height: auto;
  left: 279px;
  letter-spacing: 0px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 3886px;
  width: 769px;
}

.web-1366-2 .lorem-ipsum-has-been-Oimszx {
  background-color: transparent;
  height: auto;
  left: 278px;
  letter-spacing: 0px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 4047px;
  width: 769px;
}

.web-1366-2 .line-88-dFKCuM {
  background-color: transparent;
  height: 1px;
  left: 279px;
  object-fit: cover;
  position: absolute;
  top: 3545px;
  width: 809px;
}

.web-1366-2 .line-89-dFKCuM {
  background-color: transparent;
  height: 1px;
  left: 279px;
  object-fit: cover;
  position: absolute;
  top: 3656px;
  width: 809px;
}

.web-1366-2 .line-90-dFKCuM {
  background-color: transparent;
  height: 1px;
  left: 279px;
  object-fit: cover;
  position: absolute;
  top: 3825px;
  width: 809px;
}

.web-1366-2 .line-91-dFKCuM {
  background-color: transparent;
  height: 1px;
  left: 279px;
  object-fit: cover;
  position: absolute;
  top: 3986px;
  width: 809px;
}

.web-1366-2 .x352073_circle_fill_play_icon-dFKCuM {
  background-color: transparent;
  height: 32px;
  left: 279px;
  position: absolute;
  top: 3611px;
  width: 32px;
}

.web-1366-2 .path-328-nv0SeB {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}

.web-1366-2 .icon-play-nv0SeB {
  background-color: transparent;
  height: calc(100% - 5px);
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: calc(100% - 5px);
}

.web-1366-2 .x352073_circle_fill_play_icon-Obj5Wc {
  background-color: transparent;
  height: 32px;
  left: 278px;
  position: absolute;
  top: 3721px;
  width: 32px;
}

.web-1366-2 .path-328-P4iTkq {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}

.web-1366-2 .icon-play-P4iTkq {
  background-color: transparent;
  height: calc(100% - 5px);
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: calc(100% - 5px);
}

.web-1366-2 .x352073_circle_fill_play_icon-Oimszx {
  background-color: transparent;
  height: 32px;
  left: 279px;
  position: absolute;
  top: 3773px;
  width: 32px;
}

.web-1366-2 .path-328-A0EuuY {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}

.web-1366-2 .icon-play-A0EuuY {
  background-color: transparent;
  height: calc(100% - 5px);
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: calc(100% - 5px);
}

.web-1366-2 .lorem-ipsum-has-been-1YfSrZ {
  background-color: transparent;
  height: auto;
  left: 325px;
  letter-spacing: 0px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 3613px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .lorem-ipsum-has-been-GgxzWI {
  background-color: transparent;
  height: auto;
  left: 325px;
  letter-spacing: 0px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 3724px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .lorem-ipsum-has-been-JD2x5V {
  background-color: transparent;
  height: auto;
  left: 325px;
  letter-spacing: 0px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 3777px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .minus-dFKCuM {
  background-color: transparent;
  height: 1px;
  left: 1256px;
  position: absolute;
  top: 3389px;
  width: 16px;
}

.web-1366-2 .line-5-a1RaJO {
  background-color: transparent;
  height: calc(100% + 2px);
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: calc(100% + 2px);
}

.web-1366-2 .rectangle-101-dFKCuM {
  background-color: var(--white);
  box-shadow: 0px 7px 23px #00000029;
  height: 251px;
  left: 216px;
  position: absolute;
  top: 4244px;
  width: 1118px;
}

.web-1366-2 .rectangle-102-dFKCuM {
  background-color: var(--white);
  box-shadow: 0px 7px 23px #00000029;
  height: 251px;
  left: 216px;
  position: absolute;
  top: 4545px;
  width: 1118px;
}

.web-1366-2 .rectangle-103-dFKCuM {
  background-color: var(--white);
  box-shadow: 0px 7px 23px #00000029;
  height: 282px;
  left: 216px;
  position: absolute;
  top: 4846px;
  width: 1118px;
}

.web-1366-2 .x4213467_location_map-Obj5Wc {
  background-color: transparent;
  height: 47px;
  left: 279px;
  position: absolute;
  top: 4290px;
  width: 35px;
}

.web-1366-2 .path-326-WLOaUb {
  background-color: transparent;
  height: calc(100% - 4px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1366-2 .path-327-WLOaUb {
  background-color: transparent;
  height: 15px;
  object-fit: cover;
  position: absolute;
  right: calc(49.99% - 8px);
  top: calc(32.04% - 5px);
  width: 15px;
}

.web-1366-2 .rectangle-36-WLOaUb {
  background-color: var(--black);
  bottom: 0px;
  height: 3px;
  left: 4px;
  position: absolute;
  width: calc(100% - 8px);
}

.web-1366-2 .x4213467_location_map-Oimszx {
  background-color: transparent;
  height: 47px;
  left: 279px;
  position: absolute;
  top: 4591px;
  width: 35px;
}

.web-1366-2 .path-326-suZXx3 {
  background-color: transparent;
  height: calc(100% - 4px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1366-2 .path-327-suZXx3 {
  background-color: transparent;
  height: 15px;
  object-fit: cover;
  position: absolute;
  right: calc(49.99% - 8px);
  top: calc(32.04% - 5px);
  width: 15px;
}

.web-1366-2 .rectangle-36-suZXx3 {
  background-color: var(--black);
  bottom: 0px;
  height: 3px;
  left: 4px;
  position: absolute;
  width: calc(100% - 8px);
}

.web-1366-2 .x4213467_location_map-1YfSrZ {
  background-color: transparent;
  height: 47px;
  left: 279px;
  position: absolute;
  top: 4892px;
  width: 35px;
}

.web-1366-2 .path-326-PmFrwV {
  background-color: transparent;
  height: calc(100% - 4px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1366-2 .path-327-PmFrwV {
  background-color: transparent;
  height: 15px;
  object-fit: cover;
  position: absolute;
  right: calc(49.99% - 8px);
  top: calc(32.04% - 5px);
  width: 15px;
}

.web-1366-2 .rectangle-36-PmFrwV {
  background-color: var(--black);
  bottom: 0px;
  height: 3px;
  left: 4px;
  position: absolute;
  width: calc(100% - 8px);
}

.web-1366-2 .week-2-natural-resou-dFKCuM {
  background-color: transparent;
  height: 42px;
  left: 349px;
  letter-spacing: 0px;
  line-height: 42px;
  position: absolute;
  text-align: left;
  top: 4287px;
  white-space: nowrap;
  width: 856px;
}

.web-1366-2 .week-3-environmental-dFKCuM {
  background-color: transparent;
  height: 42px;
  left: 349px;
  letter-spacing: 0px;
  line-height: 42px;
  position: absolute;
  text-align: left;
  top: 4588px;
  white-space: nowrap;
  width: 856px;
}

.web-1366-2 .week-2-practical-way-dFKCuM {
  background-color: transparent;
  height: 88px;
  left: 349px;
  letter-spacing: 0px;
  line-height: 42px;
  position: absolute;
  text-align: left;
  top: 4889px;
  width: 717px;
}

.web-1366-2 .lorem-ipsum-has-been-acgV6o {
  background-color: transparent;
  height: auto;
  left: 279px;
  letter-spacing: 0px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 4365px;
  width: 769px;
}

.web-1366-2 .lorem-ipsum-has-been-PsD0A8 {
  background-color: transparent;
  height: auto;
  left: 279px;
  letter-spacing: 0px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 4666px;
  width: 769px;
}

.web-1366-2 .lorem-ipsum-has-been-C4jANn {
  background-color: transparent;
  height: auto;
  left: 279px;
  letter-spacing: 0px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 4998px;
  width: 769px;
}

.web-1366-2 .plus-dFKCuM {
  background-color: transparent;
  height: 16px;
  left: 1264px;
  position: absolute;
  top: 4307px;
  width: 16px;
}

.web-1366-2 .line-3-Meuv3x {
  background-color: transparent;
  height: calc(100% + 2px);
  left: calc(50% - 1px);
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 2px;
}

.web-1366-2 .line-4-Meuv3x {
  background-color: transparent;
  height: 2px;
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: calc(50% - 1px);
  width: calc(100% + 2px);
}

.web-1366-2 .plus-Obj5Wc {
  background-color: transparent;
  height: 16px;
  left: 1264px;
  position: absolute;
  top: 4608px;
  width: 16px;
}

.web-1366-2 .line-3-KsvTqu {
  background-color: transparent;
  height: calc(100% + 2px);
  left: calc(50% - 1px);
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 2px;
}

.web-1366-2 .line-4-KsvTqu {
  background-color: transparent;
  height: 2px;
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: calc(50% - 1px);
  width: calc(100% + 2px);
}

.web-1366-2 .plus-Oimszx {
  background-color: transparent;
  height: 16px;
  left: 1264px;
  position: absolute;
  top: 4909px;
  width: 16px;
}

.web-1366-2 .line-3-5EXsMp {
  background-color: transparent;
  height: calc(100% + 2px);
  left: calc(50% - 1px);
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 2px;
}

.web-1366-2 .line-4-5EXsMp {
  background-color: transparent;
  height: 2px;
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: calc(50% - 1px);
  width: calc(100% + 2px);
}

.web-1366-2 .meet-your-instructors-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 594px;
  letter-spacing: 0px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  top: 5249px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .rectangle-104-dFKCuM {
  background-color: var(--white);
  box-shadow: 0px 7px 23px #00000029;
  height: 700px;
  left: 216px;
  position: absolute;
  top: 5336px;
  width: 1118px;
}

.web-1366-2 .rectangle-110-dFKCuM {
  background-color: var(--white);
  box-shadow: 0px 7px 23px #00000029;
  height: 700px;
  left: 216px;
  position: absolute;
  top: 6106px;
  width: 1118px;
}

.web-1366-2 .rectangle-111-dFKCuM {
  background-color: var(--white);
  box-shadow: 0px 7px 23px #00000029;
  height: 700px;
  left: 216px;
  position: absolute;
  top: 6876px;
  width: 1118px;
}

.web-1366-2 .rajendra-kumar-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 728px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 5450px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .lakshmi-battula-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 727px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 6180px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .dr-m-indira-das-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 730px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 6932px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .founder-ceo-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 728px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 5500px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .vice-president-community-farming-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 728px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 6230px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .head-climate-action-academy-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 728px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 6982px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .a-successful-serial-dFKCuM {
  background-color: transparent;
  height: 366px;
  left: 730px;
  letter-spacing: 0px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 5536px;
  width: 520px;
}

.web-1366-2 .following-her-passio-dFKCuM {
  background-color: transparent;
  height: 459px;
  left: 730px;
  letter-spacing: 0px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 6266px;
  width: 520px;
}

.web-1366-2 .resource-person-for-dFKCuM {
  background-color: transparent;
  height: 477px;
  left: 730px;
  letter-spacing: 0px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 7018px;
  width: 520px;
}

.web-1366-2 .mask-group-11-dFKCuM {
  background-color: transparent;
  height: 315px;
  left: 302px;
  object-fit: cover;
  position: absolute;
  top: 5529px;
  width: 315px;
}

.web-1366-2 .more-about-raj-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 731px;
  letter-spacing: 0px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 5939px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .more-about-lakshmi-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 730px;
  letter-spacing: 0px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 6749px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .more-about-indira-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 730px;
  letter-spacing: 0px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 7522px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .icon-material-keyboard-arrow-left-dFKCuM {
  background-color: transparent;
  height: 16px;
  left: 874px;
  object-fit: cover;
  position: absolute;
  top: 5939px;
  width: 10px;
}

.web-1366-2 .icon-material-keyboard-arrow-left-Obj5Wc {
  background-color: transparent;
  height: 16px;
  left: 913px;
  object-fit: cover;
  position: absolute;
  top: 6749px;
  width: 11px;
}

.web-1366-2 .icon-material-keyboard-arrow-left-Oimszx {
  background-color: transparent;
  height: 16px;
  left: 896px;
  object-fit: cover;
  position: absolute;
  top: 7522px;
  width: 10px;
}

.web-1366-2 .mask-group-12-dFKCuM {
  background-color: transparent;
  height: 316px;
  left: 302px;
  object-fit: cover;
  position: absolute;
  top: 6298px;
  width: 315px;
}

.web-1366-2 .mask-group-13-dFKCuM {
  background-color: transparent;
  height: 315px;
  left: 302px;
  object-fit: cover;
  position: absolute;
  top: 7068px;
  width: 315px;
}

.web-1366-2 .collaborate-with-a-global-community-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 460px;
  letter-spacing: 0px;
  line-height: 36px;
  position: absolute;
  text-align: center;
  top: 7697px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .work-with-expert-coaches-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 216px;
  letter-spacing: 0px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 7812px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .expand-your-network-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 216px;
  letter-spacing: 0px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 7987px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .receive-feedback-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 216px;
  letter-spacing: 0px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 8136px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .our-teaching-team-ha-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 216px;
  letter-spacing: 0px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 7850px;
  width: 483px;
}

.web-1366-2 .join-virtual-live-di-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 216px;
  letter-spacing: 0px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 8025px;
  width: 483px;
}

.web-1366-2 .gain-tips-techniques-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 216px;
  letter-spacing: 0px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 8174px;
  width: 483px;
}

.web-1366-2 .learn-more-about-the-dFKCuM {
  background-color: transparent;
  color: var(--rhino);
  font-family: var(--font-family-stem_☞);
  font-size: var(--font-size-m);
  font-weight: 500;
  height: 31px;
  left: 216px;
  letter-spacing: 0px;
  line-height: 30px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: 8301px;
  white-space: nowrap;
  width: 386px;
}

.web-1366-2 .span0-PCFLMI {
}

.web-1366-2 .span1-PCFLMI {
  color: var(--tango);
  font-family: var(--font-family-stem☞-medium);
  font-style: normal;
}

.web-1366-2 .span2-PCFLMI {
}

.web-1366-2 .mask-group-14-dFKCuM {
  background-color: transparent;
  height: 553px;
  left: 815px;
  object-fit: cover;
  position: absolute;
  top: 7784px;
  width: 519px;
}

.web-1366-2 .loved-by-learners-across-the-globe-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 476px;
  letter-spacing: 0px;
  line-height: 36px;
  position: absolute;
  text-align: center;
  top: 8458px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .rectangle-113-dFKCuM {
  background-color: var(--hawkes-blue);
  border-radius: 3px;
  height: 189px;
  left: 216px;
  position: absolute;
  top: 8670px;
  width: 341px;
}

.web-1366-2 .ellipse-37-dFKCuM {
  background-color: transparent;
  border-radius: 69.5px;
  height: 139px;
  left: 317px;
  object-fit: cover;
  position: absolute;
  top: 8545px;
  width: 139px;
  display: none;
}

.web-1366-2 .caio-barrocal-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 313px;
  letter-spacing: 0px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 8705px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .product-designer-msc-student-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 286px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 8735px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .lorem-ipsum-has-been-4Y6HrE {
  background-color: transparent;
  height: auto;
  left: 254px;
  letter-spacing: 0px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 8764px;
  width: 268px;
}

.web-1366-2 .rectangle-114-dFKCuM {
  background-color: var(--hawkes-blue);
  border-radius: 3px;
  height: 189px;
  left: 604px;
  position: absolute;
  top: 8670px;
  width: 341px;
}

.web-1366-2 .ellipse-38-dFKCuM {
  background-color: transparent;
  border-radius: 69.5px;
  height: 139px;
  left: 705px;
  object-fit: cover;
  position: absolute;
  top: 8545px;
  width: 139px;
  display: none;
}

.web-1366-2 .caio-barrocal-Obj5Wc {
  background-color: transparent;
  height: auto;
  left: 702px;
  letter-spacing: 0px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 8705px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .product-designer-msc-student-Obj5Wc {
  background-color: transparent;
  height: auto;
  left: 675px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 8735px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .lorem-ipsum-has-been-10xpm5 {
  background-color: transparent;
  height: auto;
  left: 642px;
  letter-spacing: 0px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 8764px;
  width: 268px;
}

.web-1366-2 .rectangle-115-dFKCuM {
  background-color: var(--hawkes-blue);
  border-radius: 3px;
  height: 189px;
  left: 993px;
  position: absolute;
  top: 8670px;
  width: 341px;
}

.web-1366-2 .ellipse-39-dFKCuM {
  background-color: transparent;
  border-radius: 69.5px;
  height: 139px;
  left: 1094px;
  object-fit: cover;
  position: absolute;
  top: 8545px;
  width: 139px;

  display: none;
}

.web-1366-2 .caio-barrocal-Oimszx {
  background-color: transparent;
  height: auto;
  left: 1090px;
  letter-spacing: 0px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 8705px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .product-designer-msc-student-Oimszx {
  background-color: transparent;
  height: auto;
  left: 1063px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 8735px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .lorem-ipsum-has-been-S6xGJW {
  background-color: transparent;
  height: auto;
  left: 1031px;
  letter-spacing: 0px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 8764px;
  width: 268px;
}

.web-1366-2 .line-92-dFKCuM {
  background-color: transparent;
  height: 1px;
  left: 427px;
  object-fit: cover;
  position: absolute;
  top: 8913px;
  width: 622px;
}

.web-1366-2 .line-93-dFKCuM {
  background-color: transparent;
  height: 2px;
  left: 426px;
  object-fit: cover;
  position: absolute;
  top: 8913px;
  width: 135px;
}

.web-1366-2 .icon-material-keyboard-arrow-left-1YfSrZ {
  background-color: transparent;
  height: 17px;
  left: 1077px;
  object-fit: cover;
  position: absolute;
  top: 8906px;
  width: 10px;
}

.web-1366-2 .icon-material-keyboard-arrow-left-GgxzWI {
  background-color: transparent;
  height: 17px;
  left: 1112px;
  object-fit: cover;
  position: absolute;
  top: 8906px;
  width: 10px;
}

.web-1366-2 .rectangle-116-dFKCuM {
  background-color: var(--hawkes-blue);
  height: 500px;
  left: 0px;
  opacity: 0.6;
  position: absolute;
  top: 9030px;
  width: 1550px;
}

.web-1366-2 .rectangle-117-dFKCuM {
  background-color: var(--rhino);
  height: 284px;
  left: 150px;
  position: absolute;
  top: 9138px;
  width: 1250px;
}

.web-1366-2 .stay-up-to-date-with-dFKCuM {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-stem☞-medium);
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 473px;
  letter-spacing: 0px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 9186px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .get-tips-on-innovati-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 554px;
  letter-spacing: 0px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 9235px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .rectangle-118-dFKCuM {
  background-color: var(--white);
  border-radius: 3px;
  height: 46px;
  left: 266px;
  opacity: 0.83;
  position: absolute;
  top: 9332px;
  width: 748px;
}

.web-1366-2 .rectangle-120-dFKCuM {
  background-color: var(--tango);
  border: 1px solid #707070;
  border-radius: 3px;
  height: 46px;
  left: 1062px;
  position: absolute;
  top: 9332px;
  width: 222px;
}

.web-1366-2 .submit-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 1141px;
  letter-spacing: 0px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 9343px;
  width: 66px;
}

.web-1366-2 .enter-your-e-mail-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 303px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 9350px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .rectangle-119-dFKCuM {
  background-color: var(--rhino);
  height: 503px;
  left: 0px;
  position: absolute;
  top: 9530px;
  width: 1550px;
}

.web-1366-2 .online-learning-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 151px;
  letter-spacing: 0px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 9605px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .courses-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 151px;
  letter-spacing: 0px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 9658px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .privacy-policy-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 151px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 9958px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .terms-condition-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 269px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 9958px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .terms-refund-policy-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 416px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 9958px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .x2022-climate-action-report-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 584px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 9958px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .blog-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 373px;
  letter-spacing: 0px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 9658px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .learning-experience-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 584px;
  letter-spacing: 0px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 9658px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .certificate-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 151px;
  letter-spacing: 0px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 9708px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .collaboration-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 373px;
  letter-spacing: 0px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 9708px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .our-story-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 584px;
  letter-spacing: 0px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 9708px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .teams-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 151px;
  letter-spacing: 0px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 9756px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .overview-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 373px;
  letter-spacing: 0px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 9756px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .our-instructor-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 584px;
  letter-spacing: 0px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 9756px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .calendar-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 151px;
  letter-spacing: 0px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 9806px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .resources-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 373px;
  letter-spacing: 0px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 9806px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .faq-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 584px;
  letter-spacing: 0px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 9806px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .courses-Obj5Wc {
  background-color: transparent;
  height: auto;
  left: 151px;
  letter-spacing: 0px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 9854px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .innovation-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 373px;
  letter-spacing: 0px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 9854px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .contact-us-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 584px;
  letter-spacing: 0px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 9854px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .resources-Obj5Wc {
  background-color: transparent;
  height: auto;
  left: 373px;
  letter-spacing: 0px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 9605px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .company-dFKCuM {
  background-color: transparent;
  height: auto;
  left: 584px;
  letter-spacing: 0px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 9605px;
  white-space: nowrap;
  width: auto;
}

.web-1366-2 .ccaa_-logo_01-02-dFKCuM {
  background-color: transparent;
  height: 285px;
  left: 1142px;
  object-fit: cover;
  position: absolute;
  top: 9569px;
  width: 285px;
}

.web-1366-2 .x104458_facebook_soci-dFKCuM {
  background-color: transparent;
  height: 28px;
  left: 1209px;
  position: absolute;
  top: 9831px;
  width: 28px;
}

.web-1366-2 .x104458_facebook_soci-V8D6rv {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1366-2 .outline_copy_2-dFKCuM {
  background-color: transparent;
  height: 28px;
  left: 1263px;
  position: absolute;
  top: 9831px;
  width: 28px;
}

.web-1366-2 .group-17-KnskwM {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.web-1366-2 .path-323-8Wif1h {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1366-2 .x5279112_camera_insta-dFKCuM {
  background-color: transparent;
  height: 28px;
  left: 1318px;
  position: absolute;
  top: 9831px;
  width: 28px;
}

.web-1366-2 .icon-instagram-ypKB5o {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1366-2 .x5279123_tweet_twitte-dFKCuM {
  background-color: transparent;
  height: 28px;
  left: 1372px;
  position: absolute;
  top: 9831px;
  width: 28px;
}

.web-1366-2 .icon-twitter-NasR7K {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1366-2 .line-94-dFKCuM {
  background-color: transparent;
  height: 1px;
  left: 152px;
  object-fit: cover;
  position: absolute;
  top: 9923px;
  width: 1249px;
}
