:root { 
  --alizarin-crimson: #ed3237;
  --aqua-squeeze: #e6f4f1;
  --mine-shaft: #323232;
  --pine-green: #109475;
  --white: #ffffff;
 
  --font-size-l: 20px;
  --font-size-m: 18px;
  --font-size-s: 16px;
  --font-size-xl: 22px;
  --font-size-xs: 14px;
  --font-size-xxs: 12px;
  --font-size-xxxs: 10px;
 
  --font-family-futura_md_bt: "Futura Md BT", Helvetica;
  --font-family-futuramd_bt-medium: "FuturaMd BT-Medium", Helvetica;
  --font-family-segoe_ui: "Segoe UI", Helvetica;
  --font-family-segoeui-bold: "SegoeUI-Bold", Helvetica;
  --font-family-segoeui-regular: "SegoeUI-Regular", Helvetica;
  --font-family-segoeui-semibold: "SegoeUI-Semibold", Helvetica;
  --font-family-segoeui-semilight: "SegoeUI-Semilight", Helvetica;
}
.futuramdbt-medium-white-9px {
  color: var(--white);
  font-family: var(--font-family-futuramd_bt-medium);
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
}

.futuramdbt-medium-alizarin-crimson-12px {
  color: var(--alizarin-crimson);
  font-family: var(--font-family-futuramd_bt-medium);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 500;
}

.futuramdbt-medium-mine-shaft-12px {
  color: var(--mine-shaft);
  font-family: var(--font-family-futuramd_bt-medium);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 500;
}

.segoeui-semi-bold-pine-green-12px {
  color: var(--pine-green);
  font-family: var(--font-family-segoeui-semibold);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 600;
}

.segoeui-semi-bold-mine-shaft-12px {
  color: var(--mine-shaft);
  font-family: var(--font-family-segoeui-semibold);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 600;
}

.segoeui-regular-normal-mine-shaft-18px {
  color: var(--mine-shaft);
  font-family: var(--font-family-segoeui-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.futuramdbt-medium-mine-shaft-12px-2 {
  color: var(--mine-shaft);
  font-family: var(--font-family-futura_md_bt);
  font-size: var(--font-size-xxs);
}

.segoeui-semi-bold-pine-green-16px {
  color: var(--pine-green);
  font-family: var(--font-family-segoeui-semibold);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 600;
}

.segoeui-semi-bold-pine-green-22px {
  color: var(--pine-green);
  font-family: var(--font-family-segoeui-semibold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
}

.segoeui-regular-normal-mine-shaft-13px {
  color: var(--mine-shaft);
  font-family: var(--font-family-segoeui-regular);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}

.segoeui-regular-normal-mine-shaft-16px {
  color: var(--mine-shaft);
  font-family: var(--font-family-segoeui-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.futuramdbt-medium-alizarin-crimson-12px-2 {
  color: var(--alizarin-crimson);
  font-family: var(--font-family-futura_md_bt);
  font-size: var(--font-size-xxs);
}

.segoeui-regular-normal-mine-shaft-8px {
  color: var(--mine-shaft);
  font-family: var(--font-family-segoeui-regular);
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
}

.segoeui-semi-bold-mine-shaft-20px {
  color: var(--mine-shaft);
  font-family: var(--font-family-segoeui-semibold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}

.segoeui-semi-bold-pine-green-20px {
  color: var(--pine-green);
  font-family: var(--font-family-segoeui-semibold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}

.segoeui-semi-light-mine-shaft-14px {
  color: var(--mine-shaft);
  font-family: var(--font-family-segoeui-semilight);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 300;
}

.segoeui-semi-bold-pine-green-18px {
  color: var(--pine-green);
  font-family: var(--font-family-segoeui-semibold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.segoeui-semi-bold-pine-green-52px {
  color: var(--pine-green);
  font-family: var(--font-family-segoeui-semibold);
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
}

.segoeui-regular-normal-mine-shaft-22px {
  color: var(--mine-shaft);
  font-family: var(--font-family-segoeui-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.segoeui-semi-bold-mine-shaft-15px {
  color: var(--mine-shaft);
  font-family: var(--font-family-segoeui-semibold);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
}

.segoeui-semi-bold-pine-green-10px {
  color: var(--pine-green);
  font-family: var(--font-family-segoeui-semibold);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 600;
}

.segoeui-semi-bold-pine-green-42px {
  color: var(--pine-green);
  font-family: var(--font-family-segoeui-semibold);
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
}

.futuramdbt-medium-mine-shaft-20px {
  color: var(--mine-shaft);
  font-family: var(--font-family-futuramd_bt-medium);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}

.segoeui-normal-mine-shaft-32px {
  color: var(--mine-shaft);
  font-family: var(--font-family-segoe_ui);
  font-size: 32px;
}

.segoeui-bold-mine-shaft-32px {
  color: var(--mine-shaft);
  font-family: var(--font-family-segoeui-bold);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}

.segoeui-regular-normal-pine-green-18px {
  color: var(--pine-green);
  font-family: var(--font-family-segoeui-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.futuramdbt-medium-pine-green-20px {
  color: var(--pine-green);
  font-family: var(--font-family-futuramd_bt-medium);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}

.futuramdbt-medium-mine-shaft-17px {
  color: var(--mine-shaft);
  font-family: var(--font-family-futuramd_bt-medium);
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
}

.segoeui-regular-normal-mine-shaft-17px {
  color: var(--mine-shaft);
  font-family: var(--font-family-segoeui-regular);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
}

.segoeui-semi-bold-pine-green-17px {
  color: var(--pine-green);
  font-family: var(--font-family-segoeui-semibold);
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
}

.segoeui-normal-mine-shaft-18px {
  color: var(--mine-shaft);
  font-family: var(--font-family-segoe_ui);
  font-size: var(--font-size-m);
}

.segoeui-bold-mine-shaft-18px {
  color: var(--mine-shaft);
  font-family: var(--font-family-segoeui-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.segoeui-semi-bold-pine-green-11px {
  color: var(--pine-green);
  font-family: var(--font-family-segoeui-semibold);
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
}

.segoeui-semi-bold-pine-green-15px {
  color: var(--pine-green);
  font-family: var(--font-family-segoeui-semibold);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
}

.segoeui-normal-mine-shaft-26px {
  color: var(--mine-shaft);
  font-family: var(--font-family-segoe_ui);
  font-size: 26px;
}

.segoeui-bold-mine-shaft-26px {
  color: var(--mine-shaft);
  font-family: var(--font-family-segoeui-bold);
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
}

.segoeui-regular-normal-mine-shaft-15px {
  color: var(--mine-shaft);
  font-family: var(--font-family-segoeui-regular);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}

.segoeui-regular-normal-pine-green-10px {
  color: var(--pine-green);
  font-family: var(--font-family-segoeui-regular);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 400;
}

.segoeui-regular-normal-mine-shaft-11px {
  color: var(--mine-shaft);
  font-family: var(--font-family-segoeui-regular);
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
}

.border-1px-pine-green {
  border: 1px solid var(--pine-green);
}
